header {
    width: 100%;
    height: 126px;
    background-color: #AACE9B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
body {
    font-family: Roboto;
    font-style: normal;
    color: #373867;
}
#search-bar {
    top: 45px;
    left: 568px;
    border-radius: 50px;
    background-color: #D8E7EB;
    border: 1px solid #D6D6D6;
    position: fixed;
    width: 337px;
    height: 36px;
}
#burger {
    position: top 0px;
    margin: 0px;
    padding: 0px;
}
#magnifying-glass {
    top: 54px;
    left: 582px;
    width: 20px;
    height: 19px;
    position: fixed;
}
aside {
    position: fixed;
    top: 126px;
    float: left;
    height: 3374px;
    width: 25%;
    border-right: 2px solid #BFBFBF;
}
.side-elements {
    top: 206px;
}
main {
    float: right;
    width: 75%;
    height: 3220.98px;
    margin-top: 100px;
    margin-left: 425px;
    border-bottom: 3px solid #AACE9B;
}   
footer{
    float: right;
    width: 75%;
}
.welcome-container{
   
}
.welcome{
}
#trackgenix{
    width: 473px;
    height: 44px;
    left: 425px;
    top: 191px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3em;
    padding-left: 28px;
    display: inline-block;
}
#subtitle{
    width: 565px;
    height: 26px;
    left: 425px;
    top: 272px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28x;
    padding-left: 28px;
    color: #AACE9B;
}
#first-p{
    width: 617px;
    height: 62px;
    top: 334px;
    left: 425px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    padding-left: 28px;

}
.learn{
    width: 166px;
    height: 72px;
    top: 432px;
    left: 425px;
    border-radius: 5px;
    color: #AACE9B;
    border: 3px solid #AACE9B;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 28px;
}
#working{
    width: 458px;
    height: 449px;
    top: 191px;
    left: 1019px;
    position: absolute;
}

