header {
    width: 100%;
    height: 126px;
    background-color: #AACE9B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
body {
    font-family: Roboto;
    font-style: normal;
    color: #373867;
}
#search-bar {
    top: 45px;
    left: 568px;
    border-radius: 50px;
    background-color: #D8E7EB;
    border: 1px solid #D6D6D6;
    position: fixed;
    width: 337px;
    height: 36px;
}
#burger {
    position: top 0px;
    margin: 0px;
    padding: 0px;
}
#magnifying-glass {
    top: 54px;
    left: 582px;
    width: 20px;
    height: 19px;
    position: fixed;
}
aside {
    position: fixed;
    top: 126px;
    float: left;
    height: 3374px;
    width: 25%;
    border-right: 2px solid #BFBFBF;
}
.side-elements {
    top: 206px;
}
main {
    float: right;
    width: 75%;
    height: 3220.98px;
    margin-top: 100px;
    margin-left: 425px;
    border-bottom: 3px solid #AACE9B;
}   
footer{
    float: right;
    width: 75%;
}
.welcome-container{
   
}
.welcome{
}
#trackgenix{
    width: 473px;
    height: 44px;
    left: 425px;
    top: 191px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.3em;
    padding-left: 28px;
    display: inline-block;
}
#subtitle{
    width: 565px;
    height: 26px;
    left: 425px;
    top: 272px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28x;
    padding-left: 28px;
    color: #AACE9B;
}
#first-p{
    width: 617px;
    height: 62px;
    top: 334px;
    left: 425px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28.13px;
    padding-left: 28px;

}
.learn{
    width: 166px;
    height: 72px;
    top: 432px;
    left: 425px;
    border-radius: 5px;
    color: #AACE9B;
    border: 3px solid #AACE9B;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-left: 28px;
}
#working{
    width: 458px;
    height: 449px;
    top: 191px;
    left: 1019px;
    position: absolute;
    z-index: 10;
}
#features-title{
    width: 127px;
    height: 36px;
    top: 734px;
    left: 437px;
    margin-left: 40px;
    margin-top: 230px;
    padding-bottom: 13px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    border-bottom: 3px solid #AACE9B;
}
.features-1-2{
    width: 91.68px;
    height: 88.91px;
    top: 813.72px;
    left: 437.02px;
    border-radius: 5px;
    margin-left: 40.02px;
}
.features-3-4{
    width: 91.68px;
    height: 88.91px;
    top: 813.72px;
    left: 437.02px;
    border-radius: 5px;
    margin-left: 40.02px;
    margin-top: 66.68px;
}
#why-title{
    width: 304px;
    height: 38px;
    top: 1174px;
    left: 421px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 24px;
    margin-top: 115.79px;
    border-bottom: 3px solid #AACE9B;
    padding-bottom: 13.5px;
}
#network-img{
    width: 331px;
    height: 241px;
    top: 1270px;
    left: 421px;
    margin-left: 24px;
}
.whys{
    top: 1226px;
    left: 855px;
    position: absolute;
}
.why-items{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
#item-1{
    margin-bottom: 42px;
}
#item-2{
    margin-bottom: 43px;
}
#item-3{
    margin-bottom: 42px;
}
.info-title{
    width: 372px;
    height: 38px;
    top: 1653px;
    left: 425px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    margin-top: 142px;
    border-bottom: 3px solid #AACE9B;
    padding-bottom: 12px;
    margin-left: 28px;
}
.placeholder-box{
    width: 659px;
    height: 49px;
    border-radius: 4px;
    color: #C4C4C4;
    border: 2px solid #AACE9B;
    display: block;
    margin-left: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 12px 10px 12px;
}
::placeholder{
    color: #C4C4C4;
}
#name-placeholder{
    margin-top: 38.5px;
    margin-left: 28px;
    margin-bottom: 30.5px;
}
#email-placeholder{
    margin-bottom: 30px;
}
#category-placeholder{
    margin-bottom: 30px;
    width: 690px;
    height: 62px;
    padding: 10px 12px 10px 12px;
}
#textarea-box{
    width: 659px;
    height: 203px;
    border-radius: 4px;
    color: #C4C4C4;
    border: 2px solid #AACE9B;
    margin-left: 28px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 12px 10px 12px;
    margin-bottom: 30px;
    display: block;
}
.info-button{
    width: 135px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
#cancel-button{
    margin-left: 423px;
    color: #AACE9B;
    background-color: #FFFFFF;
    border: 3px solid #AACE9B;
    margin-right: 20px;
}
#send-button{
    background-color: #AACE9B;
    color: #FFFFFF;
    border: 0px;
}
#history-title{
    width: 160px;
    height: 38px;
    margin-left: 28px;
    margin-top: 128px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.5px;
    border-bottom: 3px solid #AACE9B;
    padding-bottom: 11px;
}
.history-p{
    margin-left: 28px;
    width: 560px;
    display: inline-block;
    font-size: 24px;
    line-height: 28.13px;
}
#build-img{
    width: 456px;
    height: 256px;
    margin-left: 36px;
    display: inline-block;
}